{% extends "umap/home.html" %}

{% block content %}
<div class="row">
  <div class="twelve columns">

    <!-- Navigation -->

    {% include 'umap/navigation.html' %}
    <!-- End Navigation -->

    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <h2>Browse {{ current_user }}'s maps</h2>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="row map_list">
        {% if maps %}
          {% include "leaflet_storage/map_list.html" %}
        {% else %}
          <div class="twelve mobile-six columns">
            {{ current_user }} has not map yet.
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
