{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}u{Map}{% endblock %}</title>
    <meta charset="utf-8">
    {% compress css %}
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/stylesheets/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}umap/umap.css">

    <script src="{{ STATIC_URL }}foundation/javascripts/modernizr.foundation.js"></script>
    {% endcompress css %}
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extra_head %}
    {% endblock extra_head %}
    <script src="{{ STATIC_URL }}storage/src/locale/fr.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body class="{% block body_class %}{% endblock %}">

<div>
    {% block content %}
    {% endblock %}
</div>
    {% compress js %}
    <script src="{{ STATIC_URL }}foundation/javascripts/modernizr.foundation.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.reveal.js"></script>
    <!--script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.orbit.js"></script-->
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.navigation.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.buttons.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.tabs.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.forms.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.tooltips.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.accordion.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.placeholder.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.alerts.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    {% endcompress js %}
    {% block bottom_js %}
        <script src="{{ STATIC_URL }}storage/contrib/js/storage.ui.default.js"></script>
        <script type="text/javascript">
            function fn (e) {
                var styleDiv = L.DomUtil.get("style_options");
                if (L.DomUtil.hasClass(styleDiv, "on")) {
                    L.DomUtil.removeClass(styleDiv, "on");
                }
                else {
                    L.DomUtil.addClass(styleDiv, "on");
                }
            }
            $(document).on('click', '#style_options_toggle', fn);
            $(document).on('click', '.more_style_options', fn);
        </script>
    {% endblock %}
    <div id="storage-ui-container"></div>
    <div id="storage-alert-container"></div>
    <div id="storage-tooltip-container"></div>
</body>
</html>
