{% extends "umap/home.html" %}

{% load i18n %}

{% block content %}
<div class="row">
  <div class="twelve columns">

    <!-- Navigation -->

    {% include 'umap/navigation.html' %}
    <!-- End Navigation -->

    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <h4>{% blocktrans %}Search for maps containing «{{ q }}» {% endblocktrans %}</h4>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="row map_list">
        {% if maps %}
          {% include "leaflet_storage/map_list.html" %}
        {% else %}
          <div class="twelve mobile-six columns">
            {% trans "Not map found." %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
