{% load leaflet_storage_tags i18n %}
<h3>{% trans "Choose your tilelayer" %}</h3>
<form action="{% url map_update_tilelayers map.pk %}" method="post" id="map_edit">
    {% csrf_token %}
    <ul class="block-grid two-up mobile">
    {% for tilelayer in tilelayers %}
        <li>
            <label for="tilelayer_{{ forloop.counter }}">
              {% tilelayer_preview tilelayer %}<div class="panel">
                <input type="radio" id="tilelayer_{{ forloop.counter }}" name="tilelayer" value="{{ tilelayer.pk }}" {% if tilelayer in map.tilelayers.all %}checked{% endif %} />
                {{ tilelayer.name }}
              </div>
            </label>
        </li>
    {% endfor %}
    <div class="row twelve columns">
        <input type="submit" class="button" />
    </div>
</form>