{% load leaflet_storage_tags endless i18n %}

{% paginate 5 maps %}

{% for map_inst in maps %}
<div class="twelve mobile-six columns">
    {% map_fragment map_inst %}
    <div class="panel"><strong>{{ map_inst.name }}</strong> — «{{ map_inst.description }}» <em>{% trans "Cured by" %} <a href="{% url user_maps map_inst.owner.username %}">{{ map_inst.owner }}</a></em> — <a href="{{ map_inst.get_absolute_url }}">{% trans "See this map!" %}</a></div>
</div>
{% endfor %}

{% show_more %}